/* override settings from the theme, etc., which mess up the chessboards */
.boardTable td {
  padding: 0;
  border: none;
  vertical-align: middle;
}

.boardTable img {
  position: static;
  margin: 0;
  max-width: none;
  padding: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
