---
layout: default
---
{% include navigation.html %}
{{ content }}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const quotes = [
      {% for item in site.data.quotes %}
        { quote: {{ item.quote | jsonify }}, author: {{ item.author | jsonify }} }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];

    const daysSinceEpoch = Math.floor(Date.now() / (1000 * 60 * 60 * 24));
    const pick = quotes[daysSinceEpoch % quotes.length];

    // Insert into tagline
    const tagline = document.getElementById("project_tagline");
    if (tagline) {
        tagline.innerHTML = `
  <span class="quote-line">${pick.quote}</span><br>
  <span class="quote-author">- ${pick.author}</span>
`;
    }
  });
</script>
