---
layout: with-nav
---
<link href="/assets/pgn4web-3.08/mini.css" type="text/css" rel="stylesheet" />
<link href="/assets/css/override_theme.css" type="text/css" rel="stylesheet" />
<script src="/assets/pgn4web-3.08/pgn4web.js" type="text/javascript"></script>
<script type="text/javascript">
  SetImagePath("/assets/pgn4web-3.08/images/merida/88");
  SetImageType("png");
  clearShortcutSquares("ABCDEFGH", "12345678");
</script>

{{content}}

<div style="font-size: 0.75em; color: #888; margin-top: 2em;">
  Chess games viewer from <a href="http://pgn4web.casaschi.net">the pgn4web project</a>
</div>
